[Unit]
Description=A service to press the buttons on my cat litterbox
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/billy/ButtonService.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

